# Copier vers .env : cp .env.example .env

# Local (hors Docker)
# DATABASE_URL=postgresql://velib:velib@localhost:5432/velib_db

# Docker Compose (service db)
DATABASE_URL=postgresql://velib:velib@db:5432/velib_db
